{% extends 'base-admin.html.twig' %}

{% block title %}Remorquage index
{% endblock %}
 {% block stylesheets %}
{{ parent() }}

<!-- Custom styles for this template-->
<link href="{{ asset('admin/css/sb-admin-2.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="{{ asset('front/css/style.css') }}" />
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""
/>

{% endblock %}

{% block body %}
<div class="table-wrapper" style="margin :50px;">
	<h1>Remorquage index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>NameRemorquage</th>
				<th>Prenom</th>
				<th>EmailRemorquage</th>
				<th>Password</th>
				<th>NumeroTel</th>
				<th>Service</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for remorquage in remorquages %}
				<tr>
					<td>{{ remorquage.nameRemorquage }}</td>
					<td>{{ remorquage.prenom }}</td>
					<td>{{ remorquage.emailRemorquage }}</td>
					<td>{{ remorquage.password }}</td>
					<td>{{ remorquage.numeroTel }}</td>
					<td>{{ remorquage.serv.libelleService }}</td>
					<td>
						<a href="{{ path('app_remorquage_show', {'id': remorquage.id}) }}">show</a>
						<a href="{{ path('app_remorquage_edit', {'id': remorquage.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_remorquage_new') }}">Create new</a>
</div>
{% endblock %}
